$border: #9cfcf0;

body {
	background: #252525;
}

.main {
	text-align: center;
	table {
		border-collapse: collapse;
		display: inline-block;
		border: 6px solid $border;
		border-radius: 6px;
	}
}

.field {
	tr {
		td {
			padding: 0;
			border: 2px solid #000;			
			.block_item {
				width: 15px;
				height: 15px;
				background: #000;
				box-sizing: border-box;
				//border: 2px solid transparent;
			}
		}
	}
}

.level0 {
	table {
		tr {
			.figure_class_1 {
				.block_item {
					background: url('/assets/blue-glow.png') no-repeat;
					background-color: #3cbcfc;							
				}
			}
			.figure_class_2 {
				.block_item {
					background: url('/assets/blue-glow.png') no-repeat;	
					background-color: #2038ec;						
				}
			}
			.figure_class_3 {
				.block_item {
					border: 2px solid #2038ec;
					background-color: #fff;						
				}
			}			
		}
	}
}