<div class="main" controls (f_controls_e)="f_ctrl.handle($event)">
	<table>
		<tbody class="field">
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
			<tr>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
				<td class="block"></td>
			</tr>
		</tbody>
	</table>
</div>