<div class="main" controls (f_controls_e)="f_ctrl.handle($event)">
	<div class="game theme_nes89">
		<div class="counter">
			<span>lines - {{f_mv.scope.linesStriked | lines}}</span>
		</div>
		<div class="game_box level0">
			<table>
				<tbody class="field">
					<tr *ngFor="let row of f_mv.scope.rows">
						<td *ngFor="let col of f_mv.scope.cols" class="block"><div class="block_item"></div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="indicators">
		<div class="in_block in_stats">
			<span class="top_header">top</span>
			<span class="top_val">000000</span>
			<span class="score_header">score</span>
			<span class="score_val">000000</span>
		</div>
		<div class="in_block in_next">
			<span class="next_header">next</span>
			<table class="next_val">
				<tbody>
					<tr>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
					</tr>
					<tr>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
					</tr>
					<tr>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
					</tr>
					<tr>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
					</tr>
					<tr>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
						<td class="block">
							<div class="block_item"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="in_block in_level">
			<span class="level_header">level</span>
			<span class="level_val">00</span>
		</div>
	</div>
</div> 